<%- include('layout/header') %>
<div class="container">
    <!-- Display session messages -->
    <% if (message) { %>
    <div class="alert alert-success" role="alert">
        <%= message %>
    </div>
    <% } %>
    <div class="row justify-content-center"> 
        <div class="col-md-6 my-4 border border-warning-subtle border-2 rounded ">
            <h2 class="bg-warning text-center text-white mt-2">Add Sub-Industry Filter</h2>
            <!-- Form for adding/editing industry -->
            <div class="col-md-12">
                <form class="row g-3 p-4" method="post" action="/add" id="add-form" enctype="multipart/form-data">
                    <div class="col-md-6">
                        <select class="form-control">
                            <option>Technology and AI </option>
                            <option>Electrical and Electronics </option>
                            <option>Banking, Finance and accounting </option>
                            <option>Technology and AI </option>
                            <option>Technology and AI </option>
                        </select>
                    </div>
                    <div class="col-md-6">  
                        <button type="submit" name="submit" value="AddFilter" class="btn btn-warning mb-2"> Add Filter </button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

<%- include('layout/footer') %>
